.chat-side
  .side-header
    %p.side-header__user-name
      = current_user.name
    %ul.user-menu
      %li.user-menu__new-group
        = link_to new_group_path, class: "user-menu__new-group-btn" do
          %i.fa.fa-edit
      %li.user-menu__edit-user
        = link_to edit_user_path(current_user), class: "user-menu__edit-user-btn" do
          %i.fa.fa-cog

  .groups
    .group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group), class: "groups__select" do
          %p.group__group-name
            = group.name
          %p.group__latest-message
            = group.show_last_message
