.chat-main
  .main-header
    .main-header__current-group
      .main-header__current-group-name test-group
      %ul.main-header__current-member
        %li.main-header__current-member-name Member : スライム ドラキー
    .main__edit
      = link_to "", class: "main__edit-group" do
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      %f.image-label
        = f.label :image, class: "image-label__input" do
          = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'image-label__file'
      = f.submit "Send", class: "new-message__submit-btn"
